

  <div class="madlib_container">
    <h3 style="margin-top:0px;color:black;">Make Your Own Mad Lib</h3>

    <p><em>From Urban Dictionary : A super fun game played by coming up with a list of adjectives, nouns, etc. that end up making a hilarious story.</em></p>
    <p><em>So, There once was a little girl who cried wolf becomes: </em></p>
    <p><em>There once was a(n) { adjective } { noun } who { verb, past tense } { noun }</em></p>
    <%= form_tag mad_libs_path(@madlib), id: 'new_madlib_form' do %>
    <%= text_area_tag(:madlib_title, nil, placeholder: "Title goes here", size: "50x2") %>
    <br>
    <%= text_area_tag(:madlib_text, nil, placeholder: "Put your { adjective } Mad-lid here in this { noun }!", id: "mad_lib_text", size: "80x10") %>
    <br>
    <%= submit_tag("Create", id: 'Create') %>
    <% end %>
  </div>

    </div>
  </div>
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <h3 style="margin-top:0px;">Play These Other Mad Libs</h3>
        <div class="demo-crumbs mdl-color-text--grey-500">

        <% @madlibs.each do |madlib|  %>
          <% madlib.title ? title = madlib.title : title = "MadLid #{madlib.id}"%>
          <div class="link_div">
            <%= link_to title, new_mad_lib_solution_path(madlib) %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</main>

</div>
