
<div class="demo-crumbs mdl-color-text--grey-500">
          <h3>MAKE A NEW MADLIB!</h3>
        </div>
        <%= form_tag ({controller: "mad_libs", action: "create"}) do %>
        <%= text_area_tag(:madlib_title, nil, placeholder: "Title goes here", size: "50x2") %>
        <br>
        <%= text_area_tag(:madlib_text, nil, placeholder: "Put your { adjective } Mad-lid here!", size: "80x10") %>
        <br>
        <%= submit_tag("Create") %>
        <% end %>

      </div>
      <div class="">
        <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
          <p><%= error %></p>
          <% end %>
        </ul>
        <% end %>

      </div>

</div>
